<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="../fonts/MyriadPro.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container container-big">
                <div class="header__grid d-flex">
                    <a href="#" class="header__link">
                        <img src="../img/logo.png" alt="Логотип" class="header__logo">
                    </a>
                    <nav class="header__nav">
                        <ul class="header__menu menu d-flex">
                            <li class="menu__item menu__item_active">
                                <a href="#" class="menu__link">О компании</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Каталог</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">События</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Медиагалерея</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__col d-flex">
                        <div class="header__contacts d-flex">
                            <a href="#" class="header__number number number_icon-green">8-812-347-71-15</a>
                            <a href="#" class="header__mail mail mail_icon-green">inform@lysoform.ru</a>
                        </div>
                        <a href="#" class="header__callback" data-remodal-target="modal-callback">Обратный звонок</a>
                    </div>
                </div>
            </div>
        </header>