/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/
/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/
/*= ../../bower_components/fotorama/fotorama.css*/

@import "partials/vars";
@import "partials/mixin";
@import "partials/fotnAwesome.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0px 0px 10px;
}

body {
    font-family: $font-myrad;
    min-width: 320px;
    font-size: rem(16px);
    line-height: normal;
    background-color: #ffffff;
    color: $color-dark;
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    flex: 1;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
    color: #333333;
    background: transparent;
    border: none;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container-big {
    width: 1355px;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.container {
    width: 970px;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

input,
textarea {
    // background: transparent;
    // border: none;
    // border-bottom: 1px solid #fff;
    // padding: 0px 13px;
    // font-family: $font-roboto;
    // font-weight: 300;
    // font-size: 16px;
    // color: #fff;
    // width: 100%;
    // resize: none;
    // height: 36px;
    // outline: none;

    @include inputPlaceholder() {
        color: rgba(#fff, 0.65);
    }
}

.form__input,
.form__textarea {
    &:before {
        content: '';
    }
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-nav.disabled {
    display: none;
}

.btn {
    font-size: rem(18px);
    color: #fff;
    background-color: #303030;
    padding: 12px 38px;
    display: inline-block;
    border-radius: 3px;

    &_icon-arrow:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/arrow_btn.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 6px;
        height: 12px;
        margin-left: 24px;
    }
}

.promo__btn {
    padding: 12px 26px 12px 38px;
}

.breadcrumbs-box {
    background-color: #fff;
}

.breadcrumbs {
    margin: 35px 0px 35px;
    list-style: none;
    font-weight: 400;
    font-family: $font-roboto;

    &__item {
        color: $color-main;

        &:first-child {
            text-transform: uppercase;
        }

        &:after {
            content: '';
            display: inline-block;
            background-image: url(../img/breadcrumbs__arrow.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            width: 6px;
            height: 10px;
            margin: 0px 16px;
        }
    }

    &__link:hover {
        color: $color-main;
    }
}

.breadcrumbs__item:last-child:after {
    display: none;
}

h1 {
    font-size: 40px;
    margin: 15px 0px 20px;
}

h2 {
    font-size: 30px;
    margin: 10px 0px 15px;
}

h3 {
    font-size: 25px;
    margin: 10px 0px 15px;
}

.title {
    font-family: $font-roboto;
    font-weight: bold;
    line-height: normal;

    &_h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
    }

    &_h2 {
        font-size: 30px;
        color: #545454;
        text-transform: uppercase;
    }

    &_h3 {
        font-size: 25px;
    }

    &_center {
        text-align: center;
    }

    &_color-dark {
        color: #000;
    }

    &_color-white {}

}

.header {
    height: 79px;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);

    &__nav {
        margin: auto;
        height: inherit;
    }

    &__menu {
        height: inherit;
    }

    &__container {
        height: inherit;
    }

    &__grid {
        height: inherit;
    }

    &__grid {
        align-items: center;
    }

    &__contacts {
        flex-direction: column;
        align-items: center;
        margin-right: 12px;
    }

    &__col {
        align-items: center;
    }

    &__callback {
        border: 2px solid $color-main;
        font-size: 14px;
        color: $color-main;
        padding: 10px 16px;
        border-radius: 3px;
        font-family: $font-myrad;
    }

    &__number {
        font-size: rem(18px);
        font-weight: 700;
        color: #333333;
    }

    &__mail {
        font-size: rem(14px);
    }
}


.number {

    &_icon-green:before {
        content: '';
        display: inline-block;
        vertical-align: -2px;
        background-image: url(../img/phone-icon__green.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 16px;
        height: 16px;
        margin-right: 7px;
    }
}

.mail {

    &_icon-green:before {
        content: '';
        display: inline-block;
        vertical-align: -2px;
        background-image: url(../img/email-icon_green.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 14px;
        height: 12px;
        margin-right: 10px;
    }
}

.header__menu .menu__item {
    height: inherit;
    margin: auto 0;
    position: relative;
}

.header__menu .menu__item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #efefef;
}

.header__menu .menu__link {
    align-items: center;
    height: inherit;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

.menu__item_active {
    background-color: $color-main;
}

.menu__item_active:after {
    display: none;
}

.menu__item_active>.menu__link {
    color: #fff;
}

.menu {
    list-style: none;

    &__item {
        font-weight: 700;
        font-size: 14px;
    }
}


.promo {

    &__slider {
        position: relative;
    }

    &__slide {
        position: relative;
        height: 690px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__desc {
        font-size: rem(18px);
        color: #fff;
        margin-top: 42px;
        opacity: .74;
    }

    &__inner {
        max-width: 640px;
    }

    &__container {
        height: inherit;
        align-items: center;
    }

    &__btn {
        margin-top: 50px;
    }

    &__title {
        margin: 0px;
    }

}


.services {
    background-color: #fafafa;
    padding: 56px 0px 80px;

    &__row {
        margin-left: -10px;
        margin-right: -10px;
    }

    &__grid {
        margin: 56px -10px 0px;
    }

    &__col {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 220px;
        margin-bottom: 20px;
    }

    &__item {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 9px 29px 0px rgba(0, 0, 0, 0.03);
        padding: 10px 15px;
        min-height: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $color-main;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin-top: 19px;
        margin-bottom: 0;
        font-size: rem(16px);
        letter-spacing: -0.057em;
    }

}


.counts {
    background-color: $color-main;
    min-height: 150px;
    color: #fff;

    &__container {
        min-height: inherit;
    }

    &__col {
        position: relative;
        text-align: center;
        padding: 0px 70px;

        &:after {
            content: '';
            position: absolute;
            height: 62px;
            right: 0;
            top: 5px;
            width: 1px;
            background-color: #91c4a6;
        }

    }

    &__grid {
        min-height: inherit;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin-bottom: 0;
        font-size: rem(16px);
        font-family: $font-myrad;
        opacity: 0.70;
    }

    &__min {
        font-size: 24px;
        margin-right: 11px;
    }

    &__title {
        font-size: 48px;
        font-family: $font-roboto;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

}

.counts__col:last-child:after {
    display: none;
}

.clients {

    padding: 68px 0px 66px;

    &__grid {
        margin: 70px -10px 0px;
    }

    &__col {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 220px;
        margin-bottom: 20px;
    }

    &__item {
        border: 1px solid #bcbcbc;
        background-color: transparent;
        border-radius: 3px;
        box-shadow: 0px 9px 29px 0px rgba(0, 0, 0, 0.03);
        padding: 10px 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 160px;
    }

}

.certificates {
    background-color: #fafafa;
    padding: 66px 0px 89px;

    &__slider {
        margin-top: 48px;
    }

    &__image {
        border: 12px solid #fff;
    }
}

.certificates__slider .owl-item {
    text-align: center;
}

.callback {
    padding: 86px 0px 86px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &_back-image {
        background-image: url(../img/callback-back.jpg);
    }

    &__text {
        opacity: .51;
        font-size: rem(18px);
        letter-spacing: 0.005em;
        margin: 0px 0px 23px;
        font-family: $font-myrad;

        &_color-white {
            color: #fff;
        }

        &_color-dakr {
            color: #757575;
        }
    }

    &__inner {
        max-width: 660px;
        margin: 0 auto;
        text-align: center;
    }
}

.form {
    &__group {
        flex: 1 0 50%;
        max-width: 50%;
        margin-bottom: 30px;

        &_large {
            flex: 1;
            max-width: 100%;
        }
    }

    &__element {
        width: 100%;
        border: none;
        resize: none;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 3px;
        height: 47px;
        color: #000;
        font-family: $font-roboto;
        font-size: 15px;
        color: #333333;
        outline: none;
        padding: 0px 20px;

        @include inputPlaceholder() {
            color: #333333;
        }
    }

    &__textarea {
        padding-top: 15px;
        height: 170px;
    }

    &__btn {
        padding: 10px 105px;
        background: transparent;
        border: 1px solid #fff;
    }

}

.form__element::placeholder {
    color: #333333;
    opacity: 0.30;
}

.about {
    padding: 35px 0px 35px;
    background-color: #fafafa;
    color: #787878;

    &__title {
        font-size: 36px;
        line-height: normal;
        color: $color-main;
        font-weight: 700;
        letter-spacing: -0.017em;
        margin-top: 20px;
    }

    &__grid {
        align-items: flex-start;
    }

    &__image {
        max-width: 380px;
        height: auto;
    }

    &__content {
        padding-left: 100px;
    }
}

.about p {
    margin-bottom: 18px;
}

.events {
    background-color: $color-main;
    padding: 56px 0px 69px;
    color: #fff;

    &__image {
        display: block;
        margin: 0 auto;
    }

    &__grid {
        margin-top: 50px;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__col {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    &__name {
        margin: 22px 0px 0px;
        font-family: $font-roboto;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        opacity: 0.70;
        margin: 15px 0px 0px;
    }

    &__title {
        color: #fff;
        text-align: center;
    }

    &__link {
        color: #fff;
        text-decoration: underline;
    }
}

.adv {
    background-color: #fafafa;
    padding: 56px 0px 66px;

    &__col {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__grid {
        margin: 54px -10px 0px;
    }

    &__item {
        min-height: 330px;
        border-radius: 3px;
        box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        padding: 47px 16px 20px;
    }

    &__circle {
        width: 80px;
        height: 80px;
        background-color: $color-main;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: rem(16px);
        color: #333333;
        text-align: center;
        margin: 27px 0px 0px;
        font-family: $font-roboto;
        font-weight: 700;
    }

    &__content {
        margin: 24px 0px 0px;
        text-align: center;
        margin-bottom: 0;
        line-height: normal;
        font-size: 13px;
        color: #757575;
    }
}

.card {
    background-color: #fafafa;
    padding: 40px 0px;

    &__container {
        width: 1100px;
        padding-top: 45px;
        padding-bottom: 35px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #fff;
    }

    &__title {
        color: $color-main;
    }

    &__grid {
        margin-top: 55px;
    }

    &__carousel {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &__info {
        margin-left: 100px;
        font-size: rem(14px);
        color: #757575;
    }
}

.catalog {
    background-color: #f9f9f9;
    padding: 60px 0px 60px;

    &__title {
        color: $color-main;
    }

    &__grid {
        margin-top: 45px;
        margin-left: -10px;
        margin-right: -10px;

    }

    &__col {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    &__item {
        background-color: #fff;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        min-height: 114px;
        padding: 10px 15px 10px 25px;
        align-items: center;
    }

    &__square {
        width: 60px;
        height: 60px;
        min-width: 60px;
        border: 1px solid $color-main;
        margin-right: 15px;
    }

    &__name {
        color: #333333;
        font-size: rem(16px);
        letter-spacing: -0.017em;
        font-family: $font-roboto;
        font-weight: 700;
    }

    &__square {
        justify-content: center;
        align-items: center;
    }

    &__info {
        background-color: $color-main;
        margin: 40px 0px 0px;
    }

    &__goods {
        margin-top: 53px;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__body {
        padding: 25px 0px 40px;
        background-color: #fff;
    }
}

.tabs {
    &__nav {
        height: 95px;
    }
    &__btn {
        flex: 1;
        font-family: $font-roboto;
        font-weight: 700;
        color: #fff;
        font-size: rem(14px);

        &_active {
            background-color: #39945f;
        }
    }
}

.goods {

    &__col {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__item {
        min-height: 390px;
        background-color: #fff;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    }

    &__header {
        background-color: #fbfbfb;
        height: 268px;
        padding: 6px;
        text-align: center;
        justify-content: center;
        align-items: center ;
    }

    &__footer {
        background-color: #fff;
        padding: 23px;
    }

    &__name{
        color: #545454;
        text-transform: uppercase;
        font-family: $font-roboto;
        font-weight: 700;
        font-size: rem(14px);
        letter-spacing: -0.017em;
        margin: 0px 0px 15px;
    }

    &__text{
        font-family: $font-roboto;
        letter-spacing: -0.017em;
        color: #757575;
        font-size: rem(14px);
        margin-bottom: 0;
    }

    &__image{
        display: block;
        max-width: 100%;
        max-height: 255px;
        height: auto;
        margin: auto;
    }

}

.filter{
    align-items: center;
    padding: 0px 0px 17px;
    border-bottom: 1px solid #333333;

    &__label{
        margin-right: 100px;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
    }

    &__grid{
        margin-left: -10px;
        margin-right: -10px;
        flex:1;
    }

    &__group{
        padding-left: 10px;
        padding-right: 10px;
        flex: 1 1 auto;

        &:last-child{
            flex: 1 1 300px;
            max-width: 300px;
        }
    }
}

.filter__group .form__element{
    background-color: #f7f7f7;
    font-size: rem(14px);
    letter-spacing: -0.010em;
    font-weight: 500;
    font-family: $font-roboto;
    height: 44px;
}

.footer {
    padding: 33px 0px 30px;
    background-color: #3e3e3e;
    color: #fff;
    font-size: rem(14px);

    &__grid {
        margin-left: -10px;
        margin-right: -10px;
    }

    &__copyright {
        margin-top: auto;
        margin-bottom: 0px;
        font-size: rem(14px);
        opacity: 0.50;
    }

    &__col {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__title {
        margin-top: 0px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $font-roboto;
        margin-bottom: 35px;
    }

    &__inner {
        flex-direction: column;
        padding-left: 20px;
        height: 100%;
    }

    &__list {
        margin-left: 20px;
    }

    &__right {
        flex-direction: column;
    }

    &__number {
        color: $color-main;
        font-weight: 700;
    }

    &__mail {
        color: #fff;
        opacity: .50;
    }

    &__text {
        line-height: 15px;
        opacity: .50;
    }

    &__row {
        margin-top: 20px;
    }

}

.footer__menu .menu__item {
    font-size: 14px;
    font-family: $font-myrad;
    margin-top: 20px;
}

.footer__menu .menu__link {
    color: #fff;
    opacity: 0.50;
    text-transform: uppercase;
}

.footer__col:first-child:before {
    display: none;
}

.footer__col:first-child .footer__inner {
    padding-left: 0;
}

.footer__col:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: #787878;
}

.footer-list {
    list-style: none;
    margin-left: 0;
}

.footer-list__item {
    margin-top: 9px;
}

.footer-list__item:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $color-main;
    border: 1px solid #fff;
    margin-right: 12px;
    border-radius: 50%;
}

.footer-list__item_circle-white:before {
    background-color: #fff;
}