@import "vars";

@media only screen and (max-width: 1355px) {
    .container-big {
        width: 100%;
    }

    .header {
        display: none;
    }

    .s-gallery .owl-prev {
        left: 0;
    }

    .s-gallery .owl-next {
        right: 0;
    }

}

@media only screen and (max-width: 1023px) {

    .owl-dots {
        bottom: 30px;
        right: 15px;
        top: auto;
        transform: rotate(0deg);
    }

    .s-gallery .owl-nav {
        display: none;
    }

    .certificates__slider .owl-dots {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

}

@media only screen and (max-width: 970px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .title_h2 {
        font-size: 20px;
        line-height: normal;
    }

    .footer__link img {
        max-width: 200px;
    }

    .container {
        width: 100%;
    }

    .services__grid {
        justify-content: space-around;
    }

    .clients__grid {
        justify-content: space-around;
    }


    .footer__grid {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0px;
    }

    .footer__col {
        min-width: 240px;
        flex: 1 1 50%;
        max-width: 50%;
        margin-bottom: 30px;

    }

    .counts__col {
        padding: 20px 35px;
    }

    .about__content {
        padding-left: 30px;
    }

    .events__grid {
        justify-content: space-around;
    }

    .adv__grid {
        justify-content: space-around;
    }

    .catalog__grid {
        justify-content: space-around;
    }

}

@media only screen and (max-width: 767px) {
    .btn {
        padding: 10px 50px;
        font-size: 0.9rem;
    }

    .form__group {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .counts__grid {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .promo__title {
        font-size: rem(26px);
    }

    .promo__desc {
        font-size: rem(14px);
    }

    .about__grid {
        flex-wrap: wrap;
    }

    .about__content {
        padding-left: 0;
    }

}

@media only screen and (max-width: 500px) {

    .counts__col:after {
        display: none;
    }

    .footer__col {
        min-width: 240px;
        flex: 1 1 100%;
        max-width: 100%;
    }

}